/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --primary-color: #396e94;
  --secondary-color: #e7c24f;
  --accent1-color: #a43312;
  --accent2-color: #381d2a;
  --heading-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Roboto', sans-serif;
  --callout-font: 'Lora', serif;
  --nav-bg-color: #396e94;
  --nav-link-color: white;
  --nav-hover-link-color: #e7c24f;
  --nav-hover-bg-color: #a43312;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

header {
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  padding: 10px 0;
}

nav {
  background-color: var(--nav-bg-color);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-bg-color);
}